{% extends "base.html" %}
{% load static %}

{% block title %}Profil {%endblock %}

{% block content %}

<body>
    <div class="list">
        <div class="list-item ">
            <a href="#" id="profilLink">Profili Düzenle</a>
        </div>
        <div class="list-item">
            <a href="#" id="bilgilerLink">Kişisel Bilgiler</a>
        </div>
        <div class="list-item">
            <a href="#" id="hesapLink">Hesap Yönetimi</a>
        </div>
        <div class="list-item">
            <a href="#" id="akısLink">Ana sayfa akışınızı ayarlayın</a>
        </div>
        <div class="list-item">
            <a href="#" id="aldıgınızLink">Üzerinize aldığınız hesaplar</a>
        </div>
        <div class="list-item">
            <a href="#" id="izinlerLink">Sosyal izinler</a>
        </div>
        <div class="list-item">
            <a href="#" id="bildirimLink">Bildirimler</a>
        </div>
        <div class="list-item">
            <a href="#" id="gizlilikLink">Gizlilik ve veriler</a>
        </div>
        <div class="list-item">
            <a href="#" id="guvenlikLink">Güvenlik ve Oturum açma</a>
        </div>
        <div class="list-item">
            <a href="#" id="markaLink">Markalı içerikler</a>
        </div>
    </div>

    <div class="contentbox">
        <div id="icerik1" style="display: none;">
            <h4>Profilinizi Düzenleyin</h4>
        </div>
        <div id="icerik2" style="display: none;">
            <h4>Pdfghjkjhgfdsa</h4>
        </div>
        <div id="icerik3" style="display: none;">
            <h4>Hesap Yönetimi İçeriği</h4>
        </div>
        <div id="icerik4" style="display: none;">
            <h4>Ana sayfa akışınızı ayarlayın İçeriği</h4>
        </div>
        <div id="icerik5" style="display: none;">
            <h4>Üzerinize aldığınız hesaplar İçeriği</h4>
        </div>
        <div id="icerik6" style="display: none;">
            <h4>Sosyal İzinler İçeriği</h4>
        </div>
        <div id="icerik7" style="display: none;">
            <h4>Bildirimler İçeriği</h4>
        </div>
        <div id="icerik8" style="display: none;">
            <h4>Gizlilik ve Veriler İçeriği</h4>
        </div>
        <div id="icerik9" style="display: none;">
            <h4>Güvenlik ve Oturum Açma İçeriği</h4>
        </div>
        <div id="icerik10" style="display: none;">
            <h4>Markalı İçerikler İçeriği</h4>
        </div>
    </div>


</body>


{%endblock content %}