{% extends "base.html" %}
{% load static %}

{% block title %}Profil {%endblock %}

{% block content %}

<body>
    <div class="list">
        <div class="list-item ">
            <a href="#" id="profilLink">Profili Düzenle</a>
        </div>
        <div class="list-item">
            <a href="#" id="bilgilerLink">Hesap Yönetimi</a>
        </div>
        <div class="list-item">
            <a href="#" id="hesapLink">Hesap Yönetimi</a>
        </div>
        <div class="list-item">
            <a href="#" id="akısLink">Ana sayfa akışınızı ayarlayın</a>
        </div>
        <div class="list-item">
            <a href="#" id="aldıgınızLink">Üzerinize aldığınız hesaplar</a>
        </div>
        <div class="list-item">
            <a href="#" id="izinlerLink">Sosyal izinler</a>
        </div>
        <div class="list-item">
            <a href="#" id="bildirimLink">Bildirimler</a>
        </div>
        <div class="list-item">
            <a href="#" id="gizlilikLink">Gizlilik ve veriler</a>
        </div>
        <div class="list-item">
            <a href="#" id="guvenlikLink">Güvenlik ve Oturum açma</a>
        </div>
        <div class="list-item">
            <a href="#" id="markaLink">Markalı içerikler</a>
        </div>
    </div>

    <div class="contentbox">
        <!-- 1.İÇERİK -->
        <div id="icerik1" style="display: none; font-size: 13px;">
            <h4>Profili Düzenle</h4>
            <p>Kişisel bilgilerinizi gizli tutun. Buraya eklediğiniz bilgiler, profilinizi görüntüleyebilen herkes
                tarafından görülebilir.</p>
            <div class="row">
                <div class="col-2">
                    <p style="font-size: 10px; margin-top: 17px; ">Fotoğraf</p>
                    <img src="/static/img/boşimg.jpg" alt="" style="border-radius: 100%; width: 60px; height: 60px;">
                </div>
                <div class="col-2">
                    <button
                        style="margin-top: 45px; border: none; border-radius: 24px; padding: 7px; font-weight:500;">Değiştir</button>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col-5">
                    <p style="font-size: 10px; margin-top: 17px; ">Ad</p>
                    <input class="editinput" type="text" placeholder="Adı">
                </div>
                <div class="col-5">
                    <p style="font-size: 10px; margin-top: 17px; ">Soyadı</p>
                    <input class="editinput" type="text" placeholder="Soyadı">
                </div>

            </div>
            <div class="row">
                <div class="col-10">
                    <p style="font-size: 10px; margin-top: 17px; margin-bottom: 4px; ">Hakkında</p>
                    <input class="abouthinput" type="text" placeholder="Hikayenizi Anlatın">
                </div>
            </div>

            <div class="row">
                <div class="col-10">
                    <p style="font-size: 10px; margin-top: 17px; margin-bottom: 4px; ">Web Sitesi</p>
                    <input class="webhinput" type="text" placeholder="https://plus.google.com/117485071617512257122">
                </div>
            </div>
            <div class="row">
                <div class="col-10">
                    <p style="font-size: 10px; margin-top: 17px; margin-bottom: 4px; ">Kullanıcı Adı</p>
                    <input class="webhinput" type="text" placeholder="Kullanıcı Adı">
                    <p style="font-size: 10px; margin-bottom: 4px; ">www.pinterest.com/mmmehtapavci
                    </p>
                </div>
            </div>
        </div>

        <!-- 2.İÇERİK -->
        <div id="icerik2" style="display: none;">
            <h4>Hesap Yönetimi</h4>
            <p style="font-size: 13px;">Kişisel bilgilerinizde veya hesap türünüzde değişiklik yapın.
            </p>
            <h6 class="mt-4">Hesabınız</h6>
            <div class="row">
                <div class="col-10">
                    <p style="font-size: 10px; margin-bottom: 4px; ">E-posta • Gizli</p>
                    <input class="webhinput" type="text">
                </div>
            </div>
        </div>




        <!-- 3.İÇERİK -->
        <div id="icerik3" style="display: none;">
            <h4>Hesap Yönetimi İçeriği</h4>
        </div>
        <!-- 4.İÇERİK -->
        <div id="icerik4" style="display: none;">
            <h4>Ana sayfa akışınızı ayarlayın İçeriği</h4>
        </div>
        <!-- 5.İÇERİK -->
        <div id="icerik5" style="display: none;">
            <h4>Üzerinize aldığınız hesaplar İçeriği</h4>
        </div>
        <!-- 6.İÇERİK -->
        <div id="icerik6" style="display: none;">
            <h4>Sosyal İzinler İçeriği</h4>
        </div>
        <!-- 7.İÇERİK -->
        <div id="icerik7" style="display: none;">
            <h4>Bildirimler İçeriği</h4>
        </div>
        <!-- 8.İÇERİK -->
        <div id="icerik8" style="display: none;">
            <h4>Gizlilik ve Veriler İçeriği</h4>
        </div>
        <!-- 9.İÇERİK -->
        <div id="icerik9" style="display: none;">
            <h4>Güvenlik ve Oturum Açma İçeriği</h4>
        </div>
        <!-- 10.İÇERİK -->
        <div id="icerik10" style="display: none;">
            <h4>Markalı İçerikler İçeriği</h4>
        </div>
    </div>


</body>


{%endblock content %}