
{% extends "base.html" %}
{%load static % }

{% block title %}Profil {%endblock %} 
    
    {% block content %}
    <div class="container-fluid d-flex justify-content-center">
        <div class="row align-items-center">

            <div class="col-md-6 my-5 text-center">
                <h1>Profil Güncelleme</h1>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Değiştir</button>
                </form>

            </div>
        </div>
    </div>
   
    
    {%endblock content %}



