{% extends "base.html" %} {% load static %} {% block title %}Profil düzenle
{%endblock %} {% block content %}
<div class="container-fluid d-flex justify-content-center">
  <div class="row align-items-center">
    <div class="col-md-6 my-5 text-center">
      <div class="profileimg rounded-circle">
        <img
          src="{{ user_profile.profile_image.url }}"
          alt="Profil Resmi"
          class="w-100"
        />
      </div>

      <h1 class="">{{ request.user.username}}</h1>
      <div class="d-flex justify-content-center">
        <a class="btn btn-secondary rounded-pill mx-1 w-auto" href="">Paylaş</a>
        <a
          class="btn btn-secondary rounded-pill mx-1 text-nowrap"
          href="{% url 'edit_profile' %}"
          >Profili düzenle</a
        >
      </div>
      <div class="d-flex justify-content-center my-5">
        <a href="" class="mx-3">Oluşturuldu</a>
        <a href="" class="mx-3">Kaydedildi</a>
      </div>
    </div>
  </div>
</div>

{%endblock content %}
