* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
/* Fatih NAVBAR CSS SIDE */
.navbar-logo-image {
  width: 32px;
  height: 32px;
  margin-left: 10px;
}
.navbar-logo-text {
  font-size: 19px;
  color: #cc0000;
  margin: 0px;
  padding: 0;
  margin-top: 5px;
  margin-left: 3px;
  float: right;
  font-weight: 500;
}
.navbar-nav li a {
  margin-left: 10px;
  font-weight: 600;
}
.navbar-nav li a:hover {
  text-decoration: underline;
}
.nav-oturum-ac {
  color: white;
  background: #e60023;
  border-radius: 50px;
}
.nav-oturum-ac:hover {
  text-decoration: none !important;
  color: white;
  background: #ad081b;
}
