* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none !important;
  box-sizing: border-box;
}

/* GİRİŞ YAPILDIKTAN SONRA AÇILAN SAYFANIN CSS KODLARI */
.nav-icon {
  padding: 10px;
}
.nav-item .mainpage {
  background-color: black;
  border-radius: 24px;
}
.mainpage > span {
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}
.create {
  color: #111111;
}
.dropdown-item {
  font-weight: 600;
}
.dropdown-item:hover {
  background: #e9e9e9;
  border-radius: 5px;
}
.dropdown-menu {
  border-radius: 12px;
  margin-left: -40px;
}
/* INPUT */
.searchinput-container {
  min-width: 407px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  position: relative;
}
.searchinput {
  background-color: #e9e9e9;
  height: 48px;
  border-radius: 50px;
  padding-left: 50px;
}
.cancel-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.nav-eye-icon {
  position: absolute;
  top: 50%;
  left: 1.7%;
  transform: translate(-50%, -50%);
}

/* INPUT'A TIKLANDIĞINDA AÇILAN BÖLÜMÜN CSS KODLARI */
.opened-searchbox-container {
  width: 1500px;
  height: 690px;
  margin: 0 auto;
  padding-left: 35px;
  padding-top: 20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
  position: absolute;
  left: 11.8%;
}
.showy {
  display: none;
}
.hugething {
  position: fixed;
  width: 100%;
  height: 100%;
}
.searchbox-opening-links p {
  display: inline-block;
  background: #e9e9e9;
  border-radius: 50px;
  height: 30px;
  width: auto;
  padding: 2px 15px;
}
.searchbox-suggestion-container {
  display: flex;
  width: 100%;
}
.searchbox-suggestion-content {
  background-color: #e9e9e9;
  border-radius: 20px;
  min-width: 350px;
}
.contenttwo {
  margin-left: 10px;
}
.searchbox-suggestion-content img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-start-start-radius: 10px;
  border-bottom-left-radius: 10px;
}
.searchbox-popular-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 350px);
  gap: 10px;
}
.searchbox-popular-content {
  width: 100%;
  background-color: #e9e9e9;
  border-radius: 20px;
}
.searchbox-popular-content img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-start-start-radius: 10px;
  border-bottom-left-radius: 10px;
}
.opened-searchbox-container span {
  margin-left: 10px;
  font-weight: 600;
}
/* SAĞ ÜSTTEKİ BİLDİRİMLERE TIKLAYINCA AÇILIN BÖLÜMÜN CSS KODLARI */
.update-container {
  width: 358px;
  height: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
}
.update-header {
  text-align: center;
}
.update-upper {
  display: flex;
  align-items: center;
}
.update-upper span {
  font-size: 16px;
  color: #111111;
  font-weight: 400;
  padding-left: 15px;
  width: 250px;
}
.update-upper:hover {
  background: #878787;
  border-radius: 10px;
}
/*SAĞ ÜSTTEKİ ACCOUNT A TIKLANINCA AÇILAN BÖLÜMÜN CSS KODLARI */

.account-container {
  width: 304px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
  border-radius: 15px;
  float: right;
}
.account-container h5 {
  margin: 0;
  cursor: pointer;
}

.text-container p {
  border: unset;
  color: #5f5f5f;
  font-size: 14px;
}
.account-container h5:hover {
  background-color: #e9e9e9;
  border-radius: 7px;
}

.account-header {
  font-size: 14px;
}
.account-upper img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.account-upper {
  display: flex;
  gap: 9px;
  margin-top: 15px;
}
.account-upper:hover {
  background: #e9e9e9;
  border-radius: 7px;
}
.text-container h6,
p {
  margin: 0px;
}
.account-middle h5 {
  width: 100%;
  font-size: 16px;
}

.account-lower h5 {
  width: 100%;
  font-size: 16px;
}
.headings {
  font-size: 12px;
}
