#carouselExampleCaptions {
    height: 100vh;
    background-color: white; /* Örnek olarak gri bir renk */
}
.still{
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.tittle{
    margin-top:100px;
}
/*  DAİRE BUTONLAR */
.btn{
    border-radius: 75%;
    margin-bottom: 300px;
    
}
/* NOKTALARIN STİLL ÖZELLİKLERİ */
#btnzero {
    background-color: #c28b00 ; /* Nokta rengi */
    border-radius: 50%; /* Yuvarlak kenarlar için %50 border-radius */
    width: 12px; /* Genişlik */
    height: 12px; /* Yükseklik */
    margin-right: 5px; /* Sağ boşluk */
    margin-left: 5px; /* Sol boşluk */
    border: none; /* Kenarlık yok */
    cursor: pointer;
}
#btnone {
    background-color:  #618c7b ; /* Nokta rengi */
    border-radius: 50%; /* Yuvarlak kenarlar için %50 border-radius */
    width: 12px; /* Genişlik */
    height: 12px; /* Yükseklik */
    margin-right: 5px; /* Sağ boşluk */
    margin-left: 5px; /* Sol boşluk */
    border: none; /* Kenarlık yok */
    cursor: pointer;
}
#btntwo {
    background-color:#0076d3; /* Nokta rengi */
    border-radius: 50%; /* Yuvarlak kenarlar için %50 border-radius */
    width: 12px; /* Genişlik */
    height: 12px; /* Yükseklik */
    margin-right: 5px; /* Sağ boşluk */
    margin-left: 5px; /* Sol boşluk */
    border: none; /* Kenarlık yok */
    cursor: pointer;
}
#btntree {
    background-color:#407a57 ; /* Nokta rengi */
    border-radius: 50%; /* Yuvarlak kenarlar için %50 border-radius */
    width: 12px; /* Genişlik */
    height: 12px; /* Yükseklik */
    margin-right: 5px; /* Sağ boşluk */
    margin-left: 5px; /* Sol boşluk */
    border: none; /* Kenarlık yok */
    cursor: pointer;
}

/* SLİDER GEÇİŞLERİ */
/***** 1.Slider'ın içeriği ******/
.notes-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.note{
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 10px;
    margin: auto;
}
.display-note-text {
    font-size: 50px;
    font-weight: bold;
}
/* 1.slider'ın yazı tipi ve rengi */
.text{
    color: #c28b00 ;
    font-size: 55px;
    font-weight:530;
}
/****** 1.Slider Fotoğraflar ******/
.dinnerslider{
    display:inline-block;
}

/***** 1slider'ın imgleri **********/
#pngone{
    margin-left: -110px;
}
#pngtwo img{
    width: 220px;
    height: 340px;
    position: relative;
    margin-top: 50px;
    margin-left: 20px;
}
#pngtree img{
    width: 180px;
    height: 230px;
    position: relative;
    margin-top: 150px;
    margin-left: 23px;
}
#pngfour img{
    width: 180px;
    height: 280px;
    position: relative;
    margin-top: 270px;
    opacity: 0.3;
}
#pngfive img{
    width: 190px;
    height: 250px;
    position: relative;
    margin-top: 150px;
    margin-left: -27px;
}
#pngsix img{
    width: 210px;
    height: 280px;
    position: relative;
    margin-top: 50px;
    margin-left: 45px;
}
#pngseven{
    height: 150px;
    margin-left: 40px;
}
/* ******** ANİMASYON CSSİ **** */
.carousel-inner .frame {
    opacity: 0.5; /* Başlangıçta yarı transparan yapabilirsiniz */
    transform: translateY(100%); /* Resimleri başlangıçta aşağıdan dışarı taşıyın */
    transition: opacity 0.7s ease, transform 1s ease; /* Geçiş efektlerini tanımlayın (süre ve geçiş türü) */
}
.carousel-inner .carousel-item.active .frame {
    opacity: 0.9; /* Aktif resimler tamamen opak olacak */
    transform: translateY(0); /* Aktif resimler yavaşça orijinal konumuna gelecek */
}





