<nav class="navbar navbar-expand-lg">
    <div class="container-fluid mt-2">
        <a class="navbar-brand me-auto" href="/"><img src="/static/img/pinterest-navbar-logo.png" alt=""
                class="navbar-logo-image" />
            <h1 class="navbar-logo-text">Pinterest</h1>
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Hakkında</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">İş Dünyası</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link nav-oturum-ac"  href="profil/profil/">{{ request.user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-kaydol" href="/user/logout/">Çıkış yap</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link nav-oturum-ac" href="/user/login/">Oturum Aç</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-kaydol" href="/user/register/">Kaydol</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<!-- <div class="navbar-login-side show">
    <div class="navbar-login-upper-side">
        <div class="navbar-login-image">
            <img src="./static/img/pinterest-navbar-logo.png" alt="" style="width: 32px; height: 32px" />
        </div>

        <div class="exit-button-side">
            <i class="fa-solid fa-x exit-button"></i>
        </div>
        <h1>Pinterest'e Hoş Geldiniz</h1>
    </div>
    <div class="navbar-login-form-side">
        <form>
            <label for="email">E-posta</label>
            <input type="email" placeholder="E-posta" />
            <label for="password"> Parola </label>
            <input type="password" name="" id="" placeholder="Parola" />
            <i class="fa-solid fa-eye fa-xs eye"></i>
            <a href=""><span>Parolanızı mı unuttunuz? </span></a>
        </form>
    </div>
    <div class="navbar-login-button-side">
        <div class="navbar-login-button-side-button-login-div">
            <button class="navbar-login-btn">Oturum aç</button>
        </div>
        <div class="navbar-login-button-side-span-div"><span>VEYA</span></div>
    </div>
    <div class="navbar-login-button-side-button-facebook-div">
        <button class="navbar-facebook-btn social-btn">
            <i class="fa-brands fa-facebook social-btn-icon"></i>
            <div class="social-btn-text">Facebook ile Devam Et</div>
        </button>
    </div>
    <div class="navbar-login-button-side-button-google-div">
        <button class="navbar-google-btn social-btn">
            <i class="fa-brands fa-google social-btn-icon" style="margin-left: 15px; width: 10%"></i>
            <div class="social-btn-text">Google ile devam edin</div>
        </button>
    </div>

    <div class="navbar-policy-side">
        <p class="navbar-policy-side-text-first">
            Devam ederek Pinterest'in
            <a href="" class="policy-ahref">Hizmet Şartları</a> koşullarını kabul
            etmiş ve
            <a href="" class="policy-ahref">Gizlilik Politikası</a> metnini
            okuduğunuzu onaylamış olursunuz.
            <a href="" class="policy-ahref">Veri toplama bildirimi.</a>
        </p>
        <div class="forborder"></div>
        <p class="navbar-policy-side-text-second">
            <a href="" class="navbar-policy-side-text-second-a">Hala Pinterest'te değil misiniz? Kaydolun</a>
        </p>
        <p class="navbar-policy-side-text-third">
            İşletme misiniz?
            <a href="" style="text-decoration: none; color: black">Buradan başlayın!</a>
        </p>
    </div>
</div>
<div class="navbar-register-side show">
    <div class="navbar-register-upper-side">
        <div class="navbar-register-image">
            <img src="./static/img/pinterest-navbar-logo.png" alt="" style="width: 32px; height: 32px" />
        </div>

        <div class="register-exit-button-side">
            <i class="fa-solid fa-x register-exit-button"></i>
        </div>
        <h1>Pinterest'e Hoş Geldiniz</h1>
        <h6 style="font-size: 14px; font-weight: 400">
            Bir sonraki tutkunuzu keşfedin
        </h6>
    </div>
    <div class="navbar-register-form-side">
        <form>
            <label for="email">E-posta</label>
            <input type="email" placeholder="E-posta" />
            <label for="password"> Parola </label>
            <input type="password" name="" id="password" placeholder="Parola oluşturun" />
            <i class="fa-solid fa-eye fa-xs eye"></i>
            <label for="date">Doğum tarihi <i class="fa-solid fa-circle-info info"></i></label>

            <input type="date" name="date" id="" />
            <a href=""><span>Parolanızı mı unuttunuz? </span></a>
        </form>
    </div>
    <div class="navbar-register-button-side">
        <div class="navbar-register-button-side-button-register-div">
            <button class="navbar-register-btn">Devam Et</button>
        </div>
        <div class="navbar-register-button-side-span-div">
            <span>VEYA</span>
        </div>
    </div>
    <div class="navbar-register-button-side-button-facebook-div">
        <button class="navbar-facebook-btn social-btn">
            <i class="fa-brands fa-facebook social-btn-icon"></i>
            <div class="social-btn-text">Facebook ile Devam Et</div>
        </button>
    </div>
    <div class="navbar-register-button-side-button-google-div">
        <button class="navbar-google-btn social-btn">
            <i class="fa-brands fa-google social-btn-icon" style="margin-left: 15px; width: 10%"></i>
            <div class="social-btn-text">Google ile devam edin</div>
        </button>
    </div>

    <div class="navbar-policy-side">
        <p class="navbar-policy-side-text-first">
            Devam ederek Pinterest'in
            <a href="" class="policy-ahref">Hizmet Şartları</a> koşullarını kabul
            etmiş ve
            <a href="" class="policy-ahref">Gizlilik Politikası</a> metnini
            okuduğunuzu onaylamış olursunuz.
            <a href="" class="policy-ahref">Veri toplama bildirimi.</a>
        </p>
        <p class="navbar-policy-side-text-second">
            <span style="font-size: 11px">Zaten üye misiniz?</span><a href="" class="navbar-policy-side-text-second-a">
                Oturum aç</a>
        </p>
    </div>
    <div class="navbar-policy-side-text-businessaccount">
        <h3>Ücretsiz bir işletme hesabı oluşturun.</h3>
    </div>
</div> -->