{% extends "base.html" %}
{% load static %}
{% block title %} Create Pin {% endblock %}
{% block content %}
<div class="container">
  <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data" class="w-50 m-auto border p-3">
    {% csrf_token %}
    <label for="">Resim</label>
    <input type="file" class="form-control" name="image" id="" />
    <label for="">Başlık</label>
    <input type="text" name="title" class="form-control" />
    <label for="">Açıklama</label>
    <textarea name="description" id="" class="form-control" cols="30" rows="5"></textarea>
    <label for="">Kategori</label>

    <select name="kategori" id="">
      <option value="">------------</option>
      {% for kategori in kategoriler %}
      <option value="{{ kategori.id }}">{{ kategori.title }}</option>
      {% endfor %}
    </select>
    
    <div class="d-flex justify-content-center mt-3">
      <input type="submit" value="Kaydet" class="btn btn-danger" />
    </div>
  </form>
</div>
{% endblock content %}