{% extends "base.html" %} {% load static %} {% block title %} Pinterest
{%endblock %} {% block content %} {% if user.is_authenticated %}
<div class="profile-save-container" onclick="event.stopPropagation()">
  <div class="save-header">
    <h5>Kaydet</h5>
  </div>
  <div class="input-container">
    <i class="fa-solid fa-magnifying-glass input-save-icon"></i>
    <input class="input-save" type="text" placeholder="Ara" />
  </div>
  <div class="save-middle">
    <span style="font-size: 12px">Hızlı bir şekilde kaydedip daha sonra düzenleyin</span>
    <div class="save-middle-content">
      <div class="clock-container">
        <div class="clock-content">
          <i class="fa-solid fa-clock-rotate-left clock" style="font-size: 24px"></i>
        </div>

        <span style="font-size: 16px; font-weight: 600">Profil</span>
        <a href="#" class="profile-save-button ms-auto me-3">Kaydet</a>
      </div>
    </div>

    <span style="font-size: 12px; display: block pb-4">Panoya kaydet</span>
    <div class="middle-content">
      <img style="
          width: 48px;
          height: 48px;
          object-fit: cover;
          border-radius: 10px;
        " src="/static/img/forpin.jpg" alt="" />
      <span style="font-size: 16px; font-weight: 600">Pinlerim</span>
      <a href="#" class="profile-save-button ms-auto me-3">Kaydet</a>
    </div>
  </div>
  <div class="save-lower d-flex align-items-center">
    <div class="plus">
      <i class="fa-solid fa-plus plusicon" style="font-size: 20px"></i>
    </div>
    <span style="font-size: 16px; font-weight: 600">Pano oluştur</span>
  </div>
</div>

<div class="container-fluid">
  <div class="picture-container">
    {% if pins|length > 0 %} {% for pin in pins %}

    <div class="cardseri">
      <a href="{% url 'detay' pin.id %}" class="cardhref">
        <div class="imageandtext">
          <img src="{{ pin.image.url }}" alt="{{ pin.title }}" class="w-100 rounded-4 pinimg" />
        </div>
        <<<<<<< Updated upstream=======<div class="text-center my-3 mw500">
          <button type="button" class="rounded-pill bfah3 border-0 sgt px-4 py-2">
            Keşfet
          </button>
    </div>
  </div>
</div>
</div>
<!-- index-save mavi bölüm-->
<div class="index-search mgt">
  <div class="row">
    <!-- search text -->
    <div class="col-md-6 my-5">
      <div class="sck23 d-flex justify-content-center align-items-center">
        <div class="bfah1 bfk3t my-3 text-center px-2">
          Beğendiğiniz fikirleri kaydedin
        </div>
        <div class="bfah2 bfk3t my-2 text-center m-auto px-5">
          En Beğendiğiniz fikirlere daha sonra dönmek için kaydedin
        </div>
        <div class="text-center my-2 m-auto">
          <button type="button" class="rounded-pill bfk3 border-0 mgt px-4 py-2">
            Keşfet
          </button>
        </div>
      </div>
    </div>
    <!-- search img & button-->
    <div class="col-md-6 my-5">
      <div class="sck23 d-flex justify-content-center align-items-center">
        <div class="img-fotogen2">
          <img src="/static/img/future-home-vibes-55a673b9.png" class="rounded" alt="Fotoğraf 1" />
          <img src="/static/img/future-home1-f4037b6b.png" class="rounded" alt="Fotoğraf 2" />
          <img src="/static/img/future-home2-c70a8738.png" class="rounded" alt="Fotoğraf 3" />
          <img src="/static/img/future-home3-ac09e50f.png" class="rounded" alt="Fotoğraf 4" />
          <img src="/static/img/scandinavian-bedroom-917ad89c.png" class="rounded" alt="Fotoğraf 5" />
          <img src="/static/img/deck-of-dreams-fb527bf1.png" class="rounded" alt="Fotoğraf 6" />
          <img src="/static/img/serve-my-drinks-263547ea.png" class="rounded" alt="Fotoğraf 7" />
          <img src="/static/img/bathroom-upgrade-48ebb8fc.png" class="" alt="Fotoğraf 8" />
          <p class="img-forogen2-text">Aşk merdiveni ev temaları</p>
          <p class="img-forogen2-text2 p-3">İskandinav yatak odam</p>
          <p class="img-forogen2-text3 p-3">Hayallerimin güvertesi</p>
          <p class="img-forogen2-text4 p-3">Stil dolu içecek servisi</p>
          <p class="img-forogen2-text5 p-3">Yeni banyomuz</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- index-shop pembe bölüm-->
<div class="index-search pgt">
  <div class="row">
    <!-- search img & button-->

    <div class="col-md-6">
      <div class="sck23 d-flex justify-content-center align-items-center">
        <div class="img-fotogen3">
          <img src="/static/img/shop-bd0c8a04.png" class="rounded" alt="Fotoğraf 1" />
          <img src="/static/img/creator-pin-img-491ebb56.png" class="rounded" alt="Fotoğraf 2" />
          <img src="/static/img/creator-avatar-d7a05622.png" class="rounded-4" alt="Fotoğraf 3" />
          <p class="img-forogen3-text">Scout the City 56,7 bin takipçi</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 my-5">
      <div class="sck23 d-flex justify-content-center align-items-center">
        <div class="bfah1 gdy3r gdy3w my-3 text-center">
          Gör, üret, dene, yap
        </div>
        <div class="bfah2 gdy3r my-2 text-center px-5">
          Pinterest'in en iyi yanı dünyanın her yerindeki kullanıcılardan
          yeni şeyler ve fikirler keşfetmek.
        </div>
        <div class="text-center my-2 m-auto">
          <button type="button" class="rounded-pill gdy3 border-0 pgt px-4 py-2">
            Keşfet
          </button>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- MEHTAP BOTTOM SECTİON -->
<div class="background">
  <div class="image-repository">
    <!-- 1.Satır -->
    <div class="row">
      <div class="col-2 frame">
        <img class="rounded-4" src="/static/img/section/1section.jpg" id="section1" alt="" />
      </div>
      <div class="col-1 frame">
        <img class="rounded-4 " src="/static/img/section/2section.jpg" id="section2" alt="" />
      </div>
      <div class="col-1 frame">
        <img class="rounded-4" src="/static/img/section/3section.jpg" id="section3" alt="" />
      </div>
      <div class="col-1 frame">
        <img class="rounded-4" src="/static/img/section/4section.jpg" id="section4" alt="" />
      </div>
      <div class="col-1 frame">
        <img class="rounded-4" src="/static/img/section/5section.jpg" id="section5" alt="" />
      </div>
      <div class="col-1 frame">
        <img class="rounded-4" src="/static/img/section/6section.jpg" id="section6" alt="" />
      </div>
      <div class="col-1 frame">
        <img class="rounded-4" src="/static/img/section/7section.jpg" id="section7" alt="" />
      </div>
      <!-- 2.satır -->
    </div>
    <!-- 2.satır -->
    <div class="row">
      <div class="col-2 frame">
        <img class="rounded-4" src="/static/img/section/8section.jpg" id="section1" alt="" />
      </div>
      <div class="col-1 frame">
        <img class="rounded-4 " src="/static/img/section/9section.jpg" id="section2" alt="" />
      </div>
      <div class="col-1 frame">
        <img class="rounded-4" src="/static/img/section/10section.jpg" id="section3" alt="" />
      </div>
      <div class="col-1 frame">
        <img class="rounded-4" src="/static/img/section/11section.jpg" id="section4" alt="" />
      </div>
      <div class="col-1 frame">
        <img class="rounded-4" src="/static/img/section/12section.jpg" id="section5" alt="" />
      </div>
      <div class="col-1 frame">
        <img class="rounded-4" src="/static/img/section/13section.jpg" id="section6" alt="" />
      </div>
      <div class="col-1 frame">
        <img class="rounded-4" src="/static/img/section/14section.jpg" id="section7" alt="" />
      </div>
    </div>
    <!-- 3.satır -->
    <div class="row">
      <div class="col-2 frame">
        <img class="rounded-4" src="/static/img/section/15section.jpg" id="section1" alt="" />
      </div>
      <div class="col-1 frame">
        <img class="rounded-4 " src="/static/img/section/15section.jpg" id="section2" alt="" />
      </div>
      <div class="col-1 frame">
        <img class="rounded-4" src="/static/img/section/17section.jpg" id="section3" alt="" />
      </div>
      <div class="col-1 frame">
        <img class="rounded-4" src="/static/img/section/17section.jpg" id="section4" alt="" />
      </div>
      <div class="col-1 frame">
        <img class="rounded-4" src="/static/img/section/18section.jpg" id="section5" alt="" />
      </div>
      <div class="col-1 frame">
        <img class="rounded-4" src="/static/img/section/20section.jpg" id="section6" alt="" />
      </div>
      <div class="col-1 frame">
        <img class="rounded-4" src="/static/img/section/21section.jpg" id="section7" alt="" />
      </div>
    </div>
  </div>

  <div class="col-text">
    <h1 style="font-size: 55px;">Fikirlerinizi <br> bulmak için <br> kaydolun</h1>
  </div>
  <!-- Kaydol ve form bölümü -->
  <div class="col-form">
    <div class="form-container">
      <div class="logo">
        <a href="#"><img src="/static/img/pinterest-navbar-login-logo.png" alt="" style="width: 35px;"></a>
      </div>
      <h1 style="font-size: 25px; padding: 10px;">Pinterest'e Hoşgeldiniz</h1>
      <p style="font-size: 13px;">Bir sonraki tutkunuzu keşfedin.</p>

      <form>
        <label for="">E-posta</label>
        <input type="email" placeholder="E-posta">
        <label for="">Parola</label>
        <input type="password" style="margin-bottom: 2px;" placeholder="Parola">
        <label for="">Doğum tarihi</label>
        <input style="height: 35px;" type="date" placeholder="Doğum Tarihi">
        <button
          style="font-size: smaller; margin-bottom: 2px; background-color: #e60023; border: none; margin-top: 4px;font-size: 12px; color: white;"
          type="submit" class="continue">Devam
          Et</button>
      </form>

      <p style="font-size: 12px; font-weight:700; margin-bottom: 3px; margin-top: 3px;">VEYA</p>

      <button class="facebook-button">
        <i class="fa-brands fa-facebook"></i>
        <span class="button-text">Facebook ile Devam Et</span>
      </button>

      <button class="google-button">
        <i class="fa-brands fa-google"></i>
        <span class="button-text">Google ile Devam Edin</span>
      </button>
      <p class="text">Kaydolarak, hizmet şartlarını ve gizlilik politikasını <br> kabul etmiş olursunuz.</p>
    </div>
  </div>
</div>
<!--------------- FOOTER ------------------>
<footer>
  <div class="graybox">
    <a href="">
      <ul>
        <li>Hizmet Şartları</li>
        <li>Gizlik Politası</li>
        <li>Yardım</li>
        <li>iPhone Uygulaması</li>
        <li>Android Uygulaması</li>
        <li>Kullanıcılar</li>
        <li>Koleksiyonlar</li>
        <li>Alışveriş</li>
        <li>Bugün</li>
        <li>Keşfet</li>
      </ul>
      >>>>>>> Stashed changes
    </a>
  </div>

  {% endfor %}
  </div>
  {% else %}
  </div>
  <h3 class="text-center">bu konuda pin bulunamadı</h3>
  {% endif %} {% else %}

  <div id="carouselExampleCaptions" class="carousel slide border">
    <div class="tittle">
      <p class="still m-auto fw-bold">Sıradaki fikri bulun</p>
    </div>
    <div class="carousel-indicators">
      <button type="button" data-bs-slide-to="0" data-bs-target="#carouselExampleCaptions" id="btnzero"
        class="btnpoint active" aria-label="Slide 1"></button>
      <button type="button" class="btnpoint" data-bs-target="#carouselExampleCaptions" id="btnone" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" class="btnpoint" data-bs-target="#carouselExampleCaptions" id="btntwo" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" class="btnpoint" data-bs-target="#carouselExampleCaptions" id="btntree" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
    </div>

    <!--------- 1.Slider ------->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="notes-container">
          <span class="note-content m-auto text textone">hafta içi akşam yemeği fikri</span>
        </div>
        <div class="row">
          <div class="col-2 frame" id="pngone">
            <img class="rounded-4" src="/static/img/sliderone/1.jpeg" alt="" />
          </div>

          <div class="col-2 frame" id="pngtwo">
            <img class="rounded-4" src="/static/img/sliderone/2.jpeg" alt="" />
          </div>

          <div class="col-2 frame" id="pngtree">
            <img class="rounded-4" src="/static/img/sliderone/3.jpg" alt="" />
          </div>

          <div class="col-2 frame" id="pngfour">
            <img class="rounded-4" src="/static/img/sliderone/4.jpg" alt="" />
          </div>

          <div class="col-1 frame" id="pngfive">
            <img class="rounded-4" src="/static/img/sliderone/5.jpeg" alt="" />
          </div>

          <div class="col-2 frame" id="pngsix">
            <img class="rounded-4" src="/static/img/sliderone/6.jpg" alt="" />
          </div>

          <div class="col-1 frame" id="pngseven">
            <img class="rounded-4" src="/static/img/sliderone/7.jpeg" alt="" />
          </div>
        </div>
      </div>

      <!--------- 2.Slider ------->

      <div class="carousel-item">
        <div class="notes-container">
          <span class="note-content m-auto texttwo">ev dekorasyonu fikri</span>
        </div>

        <div class="row">
          <div class="col-2 frame" id="pngonex">
            <img class="rounded-4" src="/static/img/slidertwo/one.jpg" alt="" />
          </div>

          <div class="col-2 frame" id="pngtwox">
            <img class="rounded-4" src="/static/img/slidertwo/two.jpg" alt="" />
          </div>

          <div class="col-2 frame" id="pngthreex">
            <img class="rounded-4" src="/static/img/slidertwo/three.jpg" alt="" />
          </div>

          <div class="col-2 frame" id="pngfourx">
            <img class="rounded-4" src="/static/img/slidertwo/four.jpg" alt="" />
          </div>

          <div class="col-1 frame" id="pngfivex">
            <img class="rounded-4" src="/static/img/slidertwo/five.jpg" alt="" />
          </div>

          <div class="col-2 frame" id="pngsixx">
            <img class="rounded-4" src="/static/img/slidertwo/six.jpg" alt="" />
          </div>

          <div class="col-1 frame" id="pngsevenx">
            <img class="rounded-4" src="/static/img/slidertwo/seven.jpg" alt="" />
          </div>
        </div>
      </div>

      <!--------- 3.Slider ------->

      <div class="carousel-item">
        <div class="notes-container">
          <span class="note-content m-auto textthree">yeni giyim stili</span>
        </div>

        <div class="row">
          <div class="col-2 frame" id="pngoney">
            <img class="rounded-4" src="/static/img/sliderthree/one.jpg" alt="" />
          </div>

          <div class="col-2 frame" id="pngtwoy">
            <img class="rounded-4" src="/static/img/sliderthree/two.jpg" alt="" />
          </div>

          <div class="col-2 frame" id="pngthreey">
            <img class="rounded-4" src="/static/img/sliderthree/three.jpg" alt="" />
          </div>

          <div class="col-2 frame" id="pngfoury">
            <img class="rounded-4" src="/static/img/sliderthree/four.jpg" alt="" />
          </div>

          <div class="col-1 frame" id="pngfivey">
            <img class="rounded-4" src="/static/img/sliderthree/five.jpg" alt="" />
          </div>

          <div class="col-2 frame" id="pngsixy">
            <img class="rounded-4" src="/static/img/sliderthree/six.jpg" alt="" />
          </div>

          <div class="col-1 frame" id="pngseveny">
            <img class="rounded-4" src="/static/img/sliderthree/seven.jpg" alt="" />
          </div>
        </div>
      </div>
      <!--------- 4.Slider ------->

      <div class="carousel-item">
        <div class="notes-container">
          <span class="note-content m-auto textfour">bahçecilik fikri</span>
        </div>

        <div class="row">
          <div class="col-2 frame" id="pngonez">
            <img class="rounded-4" src="/static/img/sliderfour/one.jpg" alt="" />
          </div>

          <div class="col-2 frame" id="pngtwoz">
            <img class="rounded-4" src="/static/img/sliderfour/two.jpg" alt="" />
          </div>

          <div class="col-2 frame" id="pngthreez">
            <img class="rounded-4" src="/static/img/sliderfour/three.jpg" alt="" />
          </div>

          <div class="col-2 frame" id="pngfourz">
            <img class="rounded-4" src="/static/img/sliderfour/four.jpg" alt="" />
          </div>

          <div class="col-1 frame" id="pngfivez">
            <img class="rounded-4" src="/static/img/sliderfour/five.jpg" alt="" />
          </div>

          <div class="col-2 frame" id="pngsixz">
            <img class="rounded-4" src="/static/img/sliderfour/six.jpg" alt="" />
          </div>

          <div class="col-1 frame" id="pngsevenz">
            <img class="rounded-4" src="/static/img/sliderfour/seven.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- index- search sarı bölüm-->
  <div class="index-search container-fluid d-flex justify-content-center align-items-center sgt">
    <div class="row">
      <!-- search img & button-->
      <div class="col-md-6 my-5">
        <div class="img-fotogen">
          <img src="/static/img/topRight-d0230035.png" alt="Lorem Image" class="w-75 rounded" />
          <img src="/static/img/center-77497603.png" alt="Lorem Image" class="rounded" />
          <img src="/static/img/left-511a9304.png" alt="Lorem Image" class="w-75 rounded" />
          <img src="/static/img/right-88044782.png" alt="Lorem Image" class="rounded" />
          <button type="button" class="rounded-pill img-fotogen-text border-0 px-4 py-4">
            <i class="bi bi-search px-1 font-weight-bold"></i> Kolay tavuk yemeği
          </button>
        </div>
      </div>

      <!-- search text -->
      <div class="col-md-6 my-5">
        <div class="bfah1 kbf my-3 text-center">Bir fikir arayın</div>
        <div class="bfah2 kbf my-3 text-center">
          Şimdi ne denemek istersiniz? "Kolay tavuk yemeği" gibi ilgilendiğiniz
          bir şey düşünün ve neler bulacağınıza bakın.
        </div>
        <div class="text-center my-3 mw500">
          <a href="disco.html"><button type="button" class="rounded-pill bfah3 border-0 sgt px-4 py-2">
              Keşfet
            </button></a>
        </div>
      </div>
    </div>
  </div>
  <!-- index-save mavi bölüm-->
  <div class="index-search mgt">
    <div class="row">
      <!-- search text -->
      <div class="col-md-6 my-5">
        <div class="sck23 d-flex justify-content-center align-items-center">
          <div class="bfah1 bfk3t my-3 text-center px-2">
            Beğendiğiniz fikirleri kaydedin
          </div>
          <div class="bfah2 bfk3t my-2 text-center m-auto px-5">
            En Beğendiğiniz fikirlere daha sonra dönmek için kaydedin
          </div>
          <div class="text-center my-2 m-auto">
            <a href="disco.html"><button type="button" class="rounded-pill bfah3 border-0 sgt px-4 py-2">
                Keşfet
              </button></a>
          </div>
        </div>
      </div>
      <!-- search img & button-->
      <div class="col-md-6 my-5">
        <div class="sck23 d-flex justify-content-center align-items-center">
          <div class="img-fotogen2">
            <img src="/static/img/future-home-vibes-55a673b9.png" class="rounded" alt="Fotoğraf 1" />
            <img src="/static/img/future-home1-f4037b6b.png" class="rounded" alt="Fotoğraf 2" />
            <img src="/static/img/future-home2-c70a8738.png" class="rounded" alt="Fotoğraf 3" />
            <img src="/static/img/future-home3-ac09e50f.png" class="rounded" alt="Fotoğraf 4" />
            <img src="/static/img/scandinavian-bedroom-917ad89c.png" class="rounded" alt="Fotoğraf 5" />
            <img src="/static/img/deck-of-dreams-fb527bf1.png" class="rounded" alt="Fotoğraf 6" />
            <img src="/static/img/serve-my-drinks-263547ea.png" class="rounded" alt="Fotoğraf 7" />
            <img src="/static/img/bathroom-upgrade-48ebb8fc.png" class="" alt="Fotoğraf 8" />
            <p class="img-forogen2-text">Aşk merdiveni ev temaları</p>
            <p class="img-forogen2-text2 p-3">İskandinav yatak odam</p>
            <p class="img-forogen2-text3 p-3">Hayallerimin güvertesi</p>
            <p class="img-forogen2-text4 p-3">Stil dolu içecek servisi</p>
            <p class="img-forogen2-text5 p-3">Yeni banyomuz</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- index-shop pembe bölüm-->
  <div class="index-search pgt">
    <div class="row">
      <!-- search img & button-->

      <div class="col-md-6 my-5">
        <div class="sck23 d-flex justify-content-center align-items-center">
          <div class="img-fotogen3">
            <img src="/static/img/shop-bd0c8a04.png" class="rounded" alt="Fotoğraf 1" />
            <img src="/static/img/creator-pin-img-491ebb56.png" class="rounded" alt="Fotoğraf 2" />
            <img src="/static/img/creator-avatar-d7a05622.png" class="rounded-5" alt="Fotoğraf 3" />
            <p class="img-forogen3-text">Scout the City 56,7 bin takipçi</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 my-5">
        <div class="sck23 d-flex justify-content-center align-items-center">
          <div class="bfah1 gdy3r gdy3w my-3 text-center">
            Gör, üret, dene, yap
          </div>
          <div class="bfah2 gdy3r my-2 text-center px-5">
            Pinterest'in en iyi yanı dünyanın her yerindeki kullanıcılardan yeni
            şeyler ve fikirler keşfetmek.
          </div>
          <div class="text-center my-2 m-auto">
            <a href=""><button type="button" class="rounded-pill bfah3 border-0 sgt px-4 py-2">
                Keşfet
              </button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- MEHTAP BOTTOM SECTİON -->
  <div class="background">
    <div class="image-repository">
      <!-- 1.Satır -->
      <div class="row">
        <div class="col-2 frame">
          <img class="rounded-4" src="/static/img/section/1section.jpg" id="section1" alt="" />
        </div>
        <div class="col-1 frame">
          <img class="rounded-4 " src="/static/img/section/2section.jpg" id="section2" alt="" />
        </div>
        <div class="col-1 frame">
          <img class="rounded-4" src="/static/img/section/3section.jpg" id="section3" alt="" />
        </div>
        <div class="col-1 frame">
          <img class="rounded-4" src="/static/img/section/4section.jpg" id="section4" alt="" />
        </div>
        <div class="col-1 frame">
          <img class="rounded-4" src="/static/img/section/5section.jpg" id="section5" alt="" />
        </div>
        <div class="col-1 frame">
          <img class="rounded-4" src="/static/img/section/6section.jpg" id="section6" alt="" />
        </div>
        <div class="col-1 frame">
          <img class="rounded-4" src="/static/img/section/7section.jpg" id="section7" alt="" />
        </div>
        <!-- 2.satır -->
      </div>
      <!-- 2.satır -->
      <div class="row">
        <div class="col-2 frame">
          <img class="rounded-4" src="/static/img/section/8section.jpg" id="section1" alt="" />
        </div>
        <div class="col-1 frame">
          <img class="rounded-4 " src="/static/img/section/9section.jpg" id="section2" alt="" />
        </div>
        <div class="col-1 frame">
          <img class="rounded-4" src="/static/img/section/10section.jpg" id="section3" alt="" />
        </div>
        <div class="col-1 frame">
          <img class="rounded-4" src="/static/img/section/11section.jpg" id="section4" alt="" />
        </div>
        <div class="col-1 frame">
          <img class="rounded-4" src="/static/img/section/12section.jpg" id="section5" alt="" />
        </div>
        <div class="col-1 frame">
          <img class="rounded-4" src="/static/img/section/13section.jpg" id="section6" alt="" />
        </div>
        <div class="col-1 frame">
          <img class="rounded-4" src="/static/img/section/14section.jpg" id="section7" alt="" />
        </div>
      </div>
      <!-- 3.satır -->
      <div class="row">
        <div class="col-2 frame">
          <img class="rounded-4" src="/static/img/section/15section.jpg" id="section1" alt="" />
        </div>
        <div class="col-1 frame">
          <img class="rounded-4 " src="/static/img/section/15section.jpg" id="section2" alt="" />
        </div>
        <div class="col-1 frame">
          <img class="rounded-4" src="/static/img/section/17section.jpg" id="section3" alt="" />
        </div>
        <div class="col-1 frame">
          <img class="rounded-4" src="/static/img/section/17section.jpg" id="section4" alt="" />
        </div>
        <div class="col-1 frame">
          <img class="rounded-4" src="/static/img/section/18section.jpg" id="section5" alt="" />
        </div>
        <div class="col-1 frame">
          <img class="rounded-4" src="/static/img/section/20section.jpg" id="section6" alt="" />
        </div>
        <div class="col-1 frame">
          <img class="rounded-4" src="/static/img/section/21section.jpg" id="section7" alt="" />
        </div>
      </div>
    </div>

    <div class="col-text">
      <h1 style="font-size: 55px;">Fikirlerinizi <br> bulmak için <br> kaydolun</h1>
    </div>
    <!-- Kaydol ve form bölümü -->
    <div class="col-form">
      <div class="form-container">
        <div class="logo">
          <a href="#"><img src="/static/img/pinterest-navbar-login-logo.png" alt="" style="width: 35px;"></a>
        </div>
        <h1 style="font-size: 25px; padding: 10px;">Pinterest'e Hoşgeldiniz</h1>
        <p style="font-size: 13px;">Bir sonraki tutkunuzu keşfedin.</p>

        <form>
          <label for="">E-posta</label>
          <input type="email" placeholder="E-posta">
          <label for="">Parola</label>
          <input type="password" style="margin-bottom: 2px;" placeholder="Parola">
          <label for="">Doğum tarihi</label>
          <input style="height: 35px;" type="date" placeholder="Doğum Tarihi">
          <button
            style="font-size: smaller; margin-bottom: 2px; background-color: #e60023; border: none; margin-top: 4px;font-size: 12px; color: white;"
            type="submit" class="continue">Devam
            Et</button>
        </form>

        <p style="font-size: 12px; font-weight:700; margin-bottom: 3px; margin-top: 3px;">VEYA</p>

        <button class="facebook-button">
          <i class="fa-brands fa-facebook"></i>
          <span class="button-text">Facebook ile Devam Et</span>
        </button>

        <button class="google-button">
          <i class="fa-brands fa-google"></i>
          <span class="button-text">Google ile Devam Edin</span>
        </button>
        <p class="text">Kaydolarak, hizmet şartlarını ve gizlilik politikasını <br> kabul etmiş olursunuz.</p>
      </div>
    </div>
  </div>
  <!--------------- FOOTER ------------------>
  <footer>
    <div class="graybox">
      <a href="">
        <ul>
          <li>Hizmet Şartları</li>
          <li>Gizlik Politası</li>
          <li>Yardım</li>
          <li>iPhone Uygulaması</li>
          <li>Android Uygulaması</li>
          <li>Kullanıcılar</li>
          <li>Koleksiyonlar</li>
          <li>Alışveriş</li>
          <li>Bugün</li>
          <li>Keşfet</li>
        </ul>
      </a>
    </div>
  </footer>

  <script src="/static/pin.js"></script>
  {% endif %} {% endblock content %} {% block script %} {% endblock %}